* {
  margin: 0;
  padding: 0;
  font-family: 'Orbitron', sans-serif;
  font-family: 'Radio Canada', sans-serif;
  /* font-family: monospace; */
}

#bg-img{
  position: absolute;
  background-image: url(/sign-up-form/images/falling-donut-lean-left.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}
/* left page */
/* .left-container{
  background: url(/sign-up-form/images/falling-donos-cropped.png) no-repeat fixed;
  background-size: contain;
  position: absolute;
  width: 40vw;
  height: 100vh;
} */
.icon{
  align-self: flex-end;
  background: url(/sign-up-form/images/icon-donut-darker-shadow-cropped.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 75px;
  height: 75px;
  display: inline-block;
}

.logo-body{
  position:absolute;
  width: 40vw;
  background: #6e807096;
  opacity: 0.6;
  top: 30vh;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo{
  display: inline-block;
  text-align: center;
  font-size: 6.5em;
  vertical-align: top;
  color: #e2ccd8;
  font-family: 'Orbitron', sans-serif;
  font-family: 'Radio Canada', sans-serif;
}

/* right page */
.right-container {
  color: #7a8b7c;
  background-color: rgba(255, 255, 255, 0.45);
  position: absolute;
  left: 40vw;
}
#top-right{
  height: 30vh;
}
#mid-right{
  height: 30vh;
}
/*right top space*/
p#top{
  font-size: 17px;
  padding: 90px 25px;
  width: 55%;
}

/* words at top of fieldset*/
fieldset>p{
  font-size: 16px;
  margin: 10px 25px;
}

/*container of pairs of inputs and labels*/
#input-container {
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
}
/*input and label pairs*/
.label-input {
  /* margin: 5px 15px; */
  flex-basis: 40%;
  display: flex;
  flex-flow: column;
}

fieldset{
  background-color: rgba(255, 255, 255, 0.45);
  border: none;
  /* box-shadow: 0px 3px rgb(187, 186, 186), 0px -3px rgb(187, 186, 186); */
}

input{
  margin: 0px 40px 10px 10px;
  border-radius: 3px;
  border: 1px solid #D6D9DC;
  height: 25px;
}
input:focus{
  border: 2px solid #e4d7de;
  outline: none;
  box-shadow: none;
}

label {
  margin: 0px 10px;
  font-size: 12px;
}

button{
  margin: 30px 25px;
  background-color: #879989;
  /* border: 2px solid #b5a1ad; */
  border: none;
  color: #e4d7de;
  padding: 15px 22px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  border-radius: 3px;
  box-shadow: none;
}

button:hover {
  background-color: #90a292;
  box-shadow: none;
  /* box-shadow: inset -2px 0px #ffffff, inset 0px 2px #ffffff; */
  /* background-color: rgb(98, 209, 163); */
}
button:active {
  background-color: #a1b3a4;
}

#login{ 
  display: absolute;
  padding: 0px 25px;
  margin-top: 200px;
  height: 34vh;
}
