* {
  margin: 0;
  padding: 0;
  font-family: 'Orbitron', sans-serif;
  font-family: 'Radio Canada', sans-serif;
  /* font-family: monospace; */
}

#bg-img{
  position: absolute;
  background-image: url(/sign-up-form/images/falling-donut-wide-mid.png);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.icon{
  align-self: flex-end;
  background: url(/sign-up-form/images/icon-donut-darker-shadow-cropped.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 75px;
  height: 75px;
  display: inline-block;
}

.logo-body{
  position:absolute;
  width: 30vw;
  background: #6e807096;
  opacity: 0.6;
  top: 30vh;
  left: 5vw;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo{
  display: inline-block;
  text-align: center;
  font-size: clamp(3rem, 7vw, 8rem) ;
  vertical-align: top;
  color: #e2ccd8;
  font-family: 'Orbitron', sans-serif;
  font-family: 'Radio Canada', sans-serif;
}

/* right page */
.right-container {
  color: #7a8b7c;
  background-color: rgba(255, 255, 255, 0.35);
  position: absolute;
  left: 40vw;
  height: 100vh;
}
#top-right{
  height: 30vh;
}
#mid-right{
  height: 30vh;
}
/* .login{
  height: 40vh;
} */
/*right top space*/
p#top{
  font-size: clamp(14px ,17px, 18px);
  padding: 60px 25px;
  width: 55%;
}

/* words at top of fieldset*/
fieldset>p{
  font-size: 16px;
  margin: 10px 25px;
}

/*container of pairs of inputs and labels*/
#input-container {
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
}
/*input and label pairs*/
.label-input {
  /* margin: 5px 15px; */
  flex-basis: 40%;
  display: flex;
  flex-flow: column;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

fieldset{
  background-color: rgba(255, 255, 255, 0.45);
  border: none;
  /* box-shadow: 0px 3px rgb(187, 186, 186), 0px -3px rgb(187, 186, 186); */
}

input{
  margin: 0px 40px 10px 10px;
  border-radius: 3px;
  border: 1.5px solid #c6c7c9b0;
  height: 25px;
  background: none;
  padding-left: 8px;
  color: #7a8b7c;
}
input:focus{
  border: 2px solid #e4d7de;
  outline: none;
  box-shadow: none;
}
input:valid{
  background: url(/sign-up-form/images/checkmark.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 20px 20px;
}

label {
  margin: 0px 10px;
  font-size: 12px;
}

button{
  margin: 30px 25px;
  background-color: #879989;
  /* border: 2px solid #b5a1ad; */
  border: none;
  color: #ece5e9;
  padding: 15px 52px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  border-radius: 3px;
  box-shadow: none;
}

button:hover {
  /* background-color: #90a292; */
  box-shadow: none;
  transform: scale(1.03);
}
button:active {
  background-color: #a1b3a4;
}

#login{ 
  margin-top: 33vh;
  margin-left: 25px;
  margin-bottom: 10px;
  overflow: hidden;
}

a{
  text-decoration: none;
  color: #58645a;
}

a:hover{
  text-decoration: underline;
}
a:visited{
  color: #7a8b7c;
}

#message{
  padding-left: 15px;
}
